html,
body {
    background: #222;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 20px 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}