html,
body {
    background: #222;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 20px 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

.pad-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
}